<div id="templatemo_header_bar">
    
            <div id="header"><div class="right"></div>
            
                <h1><a href="http://www.templatemo.com" target="_parent">
                	<%= image_tag "templatemo_logo.png", :alt => "logo" %>
                    <!-- <img src="images/templatemo_logo.png" alt="Site Title" /> -->
                    <span>Online Store Template</span>
                </a></h1>
      </div>
            
            <div id="search_box">
                <form action="#" method="get">
                    <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                    <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" />
                </form>
            </div>
    
    </div> <!-- end of templatemo_header_bar -->